﻿@model IEnumerable<TestTask.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<asp:ListView ID="listEmployees" runat="server" DataSourceID="getEmployeesSDS">
    @foreach (var item in Model)
    {
        <ItemTemplate>@item</ItemTemplate>
    }
</asp:ListView>*@
<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>*@
    @foreach (var item in ViewBag.Projects) {
            <tr>
                <td>
                    @item.Title
                    @*@Html.DisplayFor(modelItem => item)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        //</tbody>
    </table>
