﻿@model CreateProjectModel

@{
    ViewData["Title"] = "Create Project";
}

<h1>Create Project</h1>
<a asp-action="Back" class="btn btn-primary">Back</a>
@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Project.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Title)
            @Html.ValidationMessageFor(model => model.Project.Title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Description)
            @Html.ValidationMessageFor(model => model.Project.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Organization, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Organization)
            @Html.ValidationMessageFor(model => model.Project.Organization)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Start, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Start)
            @Html.ValidationMessageFor(model => model.Project.Start)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.End, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.End)
            @Html.ValidationMessageFor(model => model.Project.End)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Roles, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Roles)
            @Html.ValidationMessageFor(model => model.Project.Roles)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Skills, "Skills (write through ',')", new { @class = "control-label col-md-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Skills)
            @Html.ValidationMessageFor(model => model.Skills)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Link, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Link)
            @Html.ValidationMessageFor(model => model.Project.Link)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Project.Type.Name, "Type", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Project.Type.Name)
            @Html.ValidationMessageFor(model => model.Project.Type.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>

}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).on("click", "#btnDeleteSkill", function () {
        var row = $(this).closest("tr");
        var id = row.find("td:nth-child(1)").text();
    });

    $(document).on("click", "#btnAddSkill", function () {

        var skillName = $("#skillName").val();


        @*$.ajax({
            async: true,
            type: "POST",
            url: @Url.Action("AddSkill"),
            data: { skillName : skillName },
            dataType: 'text'
        });*@
    });

</script>
