﻿@model ProjectModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<a asp-action="Back" class="btn btn-primary">Back</a>
<div class="form-inline">
    <div class="col-md-5">
        @using (Html.BeginForm())
        {
            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Organization)
                    @Html.ValidationMessageFor(model => model.Organization)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Start)
                    @Html.ValidationMessageFor(model => model.Start)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.End)
                    @Html.ValidationMessageFor(model => model.End)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Roles)
                    @Html.ValidationMessageFor(model => model.Roles)
                </div>
            </div>

            <div>
                <div class="form-group editDiv">
                    @Html.LabelFor(model => model.SkillProject, "Skills", new { @class = "control-label col-md-2" })
                    <div class="col-md-5 overflowTable">
                        <table class="table table-striped table-bordered">
                            @foreach (SkillProjectModel item in @Model.SkillProject)
                            {
                                <tr>
                                    <td style="text-align:center">@item.Skill.Skill</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Type.Name, "Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Type.Name)
                    @Html.ValidationMessageFor(model => model.Type.Name)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Created, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Created)
                    @Html.ValidationMessageFor(model => model.Created)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Updated, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Updated)
                    @Html.ValidationMessageFor(model => model.Updated)
                </div>
            </div>
        }

    </div>
</div>