﻿@model ProjectModel

@{
    ViewData["Title"] = "Edit Project";
}

<h1>Edit Project</h1>
<a asp-action="Back" class="btn btn-primary">Back</a>

<div class="form-inline">
    <div class="col-md-6">
        @using (Html.BeginForm("EditProject", "Project", FormMethod.Post))
        {
            <div class="form-group editDiv">
                @Html.HiddenFor(model => model.Id)
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Organization, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Organization)
                    @Html.ValidationMessageFor(model => model.Organization)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Start, new { @value = Model.Start })
                    @Html.ValidationMessageFor(model => model.Start)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.End)
                    @Html.ValidationMessageFor(model => model.End)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Roles)
                    @Html.ValidationMessageFor(model => model.Roles)
                </div>
            </div>

            <div>
                <div class="form-group editDiv">
                    @Html.LabelFor(model => model.SkillProject, "Skills", new { @class = "control-label col-md-2" })
                    <div class="col-md-5 overflowTable">
                        <table class="table table-striped table-bordered">
                            @foreach (SkillProjectModel item in @Model.SkillProject)
                            {
                                <tr>
                                    <td style="text-align:center">@item.Skill.Skill</td>
                                    <td><a id="btnDeleteSkill" asp-action="DeleteSkill" asp-route-id="@item.Id" class="btn btn-dark btn-sm">Delete</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>         
            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link)
                </div>
            </div>

            <div class="form-group editDiv">
                @Html.LabelFor(model => model.Type.Name, "Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Type.Name)
                    @Html.ValidationMessageFor(model => model.Type.Name)
                </div>
            </div>

            <div class="form-group editDiv">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        }
    </div>
    <div>

        @using (Html.BeginForm("AddSkill", "Project", FormMethod.Post))
        {
            <div class="form-inline">
                <input name="skillName" class="form-control filterInput" />
                <input type="submit" name="btnAddSkill" value="Add" class="btn btn-primary" />
            </div>
        }

    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).on("click", "#btnDeleteSkill", function () {
        var row = $(this).closest("tr");
        var id = row.find("td:nth-child(1)").text();
    });

</script>
