﻿@model PageModel

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<a asp-action="Create" style="margin: 10px" class="btn btn-primary">Add Project</a>

<form method="get">
    <div class="form-inline">
        <label>Title:</label>
        <input name="Title" value="@Model.Filters.Title" class="form-control filterInput" />

        <label>Company: </label>
        <input name="Company" value="@Model.Filters.Company" class="form-control filterInput" />

        <label>Type: </label>
        <input name="Type" asp-items="Model.Filters.Type" class="form-control filterInput" />

        <input type="submit" value="Filter" class="btn btn-outline-dark filterInput" />
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Organization</th>
            <th>Type</th>
            <th>UserId</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectModel p in Model.Projects)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Title</td>
                <td>@p.Organization</td>
                <td>@p.Type.Name</td>
                <td>@p.User.Id</td>
                <td><a asp-action="Details" asp-route-id="@p.Id" class="btn btn-dark">Details</a></td>
                <td><a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">Edit</a></td>
                @if (Convert.ToInt32(ViewData["Role"].ToString()) == 2)
                {
                    <td><input type="button" id="btnDelete" class="btn btn-danger" value="Delete"></td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.Pagination.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.Page - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (Model.Pagination.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.Page + 1)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).on("click", "#btnDelete", function () {
        var row = $(this).closest("tr");
        var id = row.find("td:nth-child(1)").text();
        $.ajax({
            url: '/Project/DeleteProject',
            data: { id: id }
        });
        $(this).closest("tr").remove();
    });
</script>
